<footer>
    <div class="container">
        <div class="footer-cpy text-center">
                <p>
                    © @DateTime.Now.Year 
                </p>
        </div>
    </div>
</footer>